	*{
	padding: 0px;
	margin: 0px;
	background-color: lightblue;
	}
	.up{
		color: green;
		background-color: lightblue;
		text-align: center;
		font-size:40px;
		padding: 5px;
		text-shadow:3px 3px black;
		font-family: sans-serif;

	}
	
	.contain{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.box{
		margin: 13px;
		margin-top:-10px;
		color:black;
		width: 280px;
		height: 310px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	img{
	width: 280px;
	height: 190px;
	object-fit: cover;
}